# Byte-compiled / optimized / compiled files
__pycache__/
*.py[cod]
*$py.class

# Env variables
.env

# Virtual environment
.env/
venv/
env/
.venv/

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
temp/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec